@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
body {
  margin: 40px;
  font-family: "Roboto";
  background-color: red
}
/** h1, h2 == selection de tout les H1 ET H2 **/

h1, h2, h3, h4 {
 font-family: 'Noto Sans JP', sans-serif;
}


h1 {
  color: red;
  text-align: center;
}

h2 {
  color: black;
  font-weight: regular;
}

div { 
  border: 1px solid;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 12px 
  
  }
  
.center